*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background: linear-gradient(
        to right,
        #2ab7ca 0%,
        #2ab7ca 50%,
        #e6e6ea 50%,
        #e6e6ea 100%
    )
}
